@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

:root {
  font-size: 62.5%;
  --input-box-size: 5.5rem;
  --cells-per-subgrid: 9;
  --subgrid-count-per-axis: 3;
  --same-number-blue: steelblue;
  --same-subgrid-row-column-blue: rgb(172, 218, 247);
  --input-focus-blue: rgb(88, 186, 247);
  --invalid-input-red: rgb(165, 79, 79);
}

#root,
body {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
}

input,
button {
  cursor: pointer;
}

header {
  font-size: 2.6rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 900;
  border-bottom: 2px solid rgba(0, 63, 123, .1);
  padding: 1rem 0;
  width: 80%;
  max-width: 50rem;
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin-top: 1rem;
}


.above-grid-container {
  margin: 10px 0;
  display: flex;
}

.hide {
  display: none;
}

@media screen and (max-width: 560px) {
  :root {
    --input-box-size: 4.5rem;
  }
}

@media screen and (max-width: 430px) {
  :root {
    --input-box-size: 3.5rem;
  }
}